---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
<p>I would love to share my knowledge and understanding on the wide arrays of topics which I am skilled at. My talks can be tailored for conferences, internal meetups, lunch-and-learns, executive briefings, or other professional events.</p>
<p><strong>Topics that I would be interested to talk about:</strong></p>
<ul>
  <li>Introduction to Test Automation</li>
  <li>Best Practices for Automated Testing</li>
  <li>Continuous Testing for Continuous Delivery</li>
  <li>Test Data Management</li>
  <li>Running Tests at Scale with Parallelization and APIs</li>
  <li>Optimizing UI Testing Efficiency with Page Object Model</li>
  <li>Reducing Test Flakiness for the UI system</li>
  <li>Django for Test Automation Engineers</li>
  <li>Building a Test Automation Framework from Scratch</li>
  <li>Process Safety and Reliability Engineering for Chemical Processing Units</li>
  <li>Hazard and Operability Studies (HAZOP) for Process Safety</li>
  <li>A Survey on Digital Tomosynthesis in Medical Imaging</li>
  <li>Biomedical Engineering and its Applications</li>
  <li>Pharmaceutical Manufacturing and Quality Control</li>
  <li>Regulatory Compliance in the Pharmaceutical Industry</li>
  <li>Lean Six Sigma for Process Improvement</li>
  <li>Root Cause Analysis and Problem-Solving Techniques</li>
  <li>Data Analysis and Visualization using Python</li>
  <li>Machine Learning Basics for Engineers</li>
</ul>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
