---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
<p>I would love to share my knowledge and understanding on medical device research and development, software automated testing, and project management in engineering design. </p>

{% endif %}
<h1><strong>Previous Talks</strong></h1>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
